#nav{
	background-color:#000;
	height:60px;
	position:sticky;
	top:0;
}
*{
margin: 0px;
padding: 0px;
}
#left{
	color:white;
	padding-left:20px;
	float:left;	
}

#right{
	padding:20px 0;
	color:black;
	width:600px;
	float:right;
}

.cool-link{
	display: inline-block;
	text-align:center;
	width:100px;
	height:40px;
	list-style:none;
	color: white;
	
}

#right ul li a{
	color:white;
	text-decoration: none;
	font-family: Source Sans Pro;
	font-size:15px;
	font-weight:lighter;
}
#right ul li:hover{
    background-color: orange;
    transition:background 1s;
}

#div1{
	background:linear-gradient(to left, orange,brown,red);
	height:1000px;
}


#p1{
	color:#fff;
	text-align:center;
	padding-left:300px;
	padding-right:300px;
	color:white;
}
	
#div2{
	background-image:url("../images/back.png") ;  
	
	background-repeat: repeat-y;
	background-size: cover;

} 
#div3{
	
	color : white;
	font-size: medium;
	
}
#head{
	color : white;
	font-size: large;
	padding-left: 30%;
}
#div6{
	
	color : white;
	font-size: medium;
	float:left;
	width:500px;
	
}
#div7{
	color : white;
	font-size: medium;
	float:right;
	width:500px;
}
/* footer h4 {
	display: inline-block;
	font-weight:bold;
  	margin-right:1.5em;
  } */

h2 {
	
	color: blue;
	text-align: center;
	
  }

.footer {
	background-color:black;
	
	bottom: 0;
	width: 100%;
	clear: both;
    
    height: 120px;
    
}
#div4{
	
	color : white;
	float:left;
	width:500px;
	font-size: medium;
	
}
#img1{
	float:right;
}

#newsletter{
	float: right;
	padding-left: 780px;
}
#h1{
	color:white;
	text-align: center;
	font-size:35px;
}

#div5{
	
	color : white;
	float:right;
	font-size: medium;
	width:500px;
}
p{
	color: white;
}

.icon-bar {
	position: fixed;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
  }
  
  .icon-bar a {
	display: block;
	text-align: center;
	padding: 16px;
	transition: all 0.3s ease;
	color: white;
	font-size: 20px;
  }
  
 
  .icon-bar a:hover {
	background-color: #000;
  }
  
  .facebook {
	background: #3B5998;
	color: white;
  }
  
  .twitter {
	background: #55ACEE;
	color: white;
  }
  
  .instagram {
	background: #dd4b39;
	color: white;
  }
  
  .linkedin {
	background: #007bb5;
	color: white;
  }
  
  .youtube {
	background: #bb0000;
	color: white;
  }

  /* .discord {
	background: #839496;
	color: white;
  } */

  .img1 {
	  overflow:hidden;
	  width: 200px;
	  height:200px;
  }

.link1{
	width:auto;
	color:blue;
	background:lightcyan;
	font-weight:1000;
	font-size: large;
}
.link2{
	width:auto;
	color:blue;
	background:lightcyan;
	font-weight:1000;
	font-size: large;
	
}
#ada{
	/* background:linear-gradient(to left, orange,brown,red); */
	background-image:url("../images/formback\ \(1\).jpg") ;  
	
}
  