{% extends 'homepage/home.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block main_content %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<link rel="stylesheet" href="{% static 'css/home.css'%}">
<div class="container">
    <img  src="{% static "images/cwo_all.jpg" %}" >
  <br><br>
  </div>
  <div class="container">
  <h1 style="color:green; border-style: groove;text-align:center;font-weight:bold;background-color:lime">CYBER CRIME AGENCY</h1>
</div>

<div class="container" id="head">
    <br>
  <br>
    <a class="link1" href="cases">Register Case Anonymously</a>
    
    <a class="link2" href="report">Register Case</a>
    </div>

    <br>
    <br>
<div class="container" class="col-md-6 offset-md-3" id="ada">
            <h2 >Register a Crime Report</h2>
            <br>
            <form  class="form-group" action="report" method="POST">
                
                {% csrf_token %}
                {{ form2|crispy }}
                
            <input type="submit" class="btn btn-primary" value="Submit">
            </form><br>
        
            </div>
            <br>
            <br>
            <br>
  {% endblock %}
  